.about_container{
    padding:2% 14%;
    display: flex;
}

.about_img{
    height: 430px;
    position: relative;
}

.play_icon{
    position: absolute;
    height: 60px;
    top: 50%;
    left: 50%;   
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.play_icon img{
    height: 100%;
}

.about_img img{
    height: 100%;
    border-radius: 10px;
}

.about{
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_text{
    color: rgba(0, 0, 255, 0.852);
    text-align: center;
    margin-top: 5rem;
}

.about_head{
    color: rgba(0, 0, 0, 0.872);
    text-align: center;
    margin-bottom: 3rem;
}

.about_text2{
    color: rgb(109, 109, 109);
    font-weight: 400;
}


/* --- Media queries --- */
@media (max-width:1200px){
    .about_container{
        padding: 2% 6rem;
    }
}

@media (max-width:1160px){
    .about_container{
        padding: 2% 3rem;
    }
}

@media (max-width:930px){
    .about_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
}

@media (max-width:500px){
     .about_container{
        font-size: 14px;
        padding:2% 3%;
    }

    .about_img{
    height: 270px;
    position: relative;
}
}